*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(253, 238, 219);
}
.nav-bar{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items li{
    display: inline;
    list-style: none;
    padding-right: 10px;
}

.nav-logo{
    width: 80px;
}

.main-content{
    padding: 30px;
}

.main-content > h1{
    margin-bottom: 10px;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(28, 27, 27);
    width: 100%;
    padding: 10px;
    color: rgb(244, 243, 241);
    text-align: center;
}